<div class="container pt-5">
    <table class="table table-striped">
        <thead>
          <tr class="table-dark">
            <th scope="col">No:-</th>
            <th scope="col">Name</th>
            <th scope="col">Area</th>
            <th scope="col">Inst/Cop</th>
            <th scope="col">Category</th>
            <th scope="col">Hours</th>
            <th scope="col">Comment</th>
            <th scope="col">file</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <!-- </div> -->
        <tbody>
          <tr *ngFor="let resp of responses; let i= index">
            <th scope="row">{{i+1}}</th>
            <td>{{resp.name}}</td>
            <td>{{resp.area}}</td>
            <td>{{resp.ic}}</td>
            <td>{{resp.category}}</td>
            <td>{{resp.hour}}</td>
            <td>{{resp.comment}}</td>
            <!-- <td><a href="../../../../../BackEnd/uploads/FSD.pdf" target="_blank">{{resp.resfile}}</a></td> -->
            <td><a href="{{apiservice.fileAddress}}/{{resp.resfile}}" target="_blank">{{resp.resfile}}</a></td>
            <td>
                <button type="button" (click)="editResponse(resp._id)" mat-icon-button class="btn btn-warning btn-sm">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
